<marquee> Purchase Page </marquee>
<h2> Customer: <%= @purchase.customer.name %> </h2>
<p> Number of Sugars: <%= @purchase.num_of_sugars %> </p>
<p> Creamer Strength: <%= @purchase.creamer_strength %> </p>
<p> <%= @purchase.iced ? 'Iced' : 'Hot' %> </p>
<p> Size: <%= @purchase.size %> </p>
<p> Special Instructions<%= @purchase.special_instructions %> </p>
